@import 'variables'; // Import variables
@import 'components/navbar'; // Import navbar partial
@import 'components/content';
@import 'components/banner';
@import 'components/input';
@import 'components/photocard'; 
/* Styling for h1 */
h1 {
    color: $maincolor;
}

/* Styling for body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the main container */
.main {
    display: flex;
    flex-direction: column;
}

.content {
    background-image: url("../images/cover.jpg");
    background-size: cover;
}
