@import 'variables'; // Import variables
@import 'components/navbar'; // Import navbar partial
@import 'components/content';
@import 'components/banner';
@import 'components/input';
@import 'components/photocard'; 
@import 'components/pricing';
@import 'components/typeofbusiness';
/* Styling for h1 */
// h1 {
//     color: $maincolor;
// }

/* Styling for body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the main container */
.main {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}
/* Style for the Return to Top button */
.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-to-top.show {
    opacity: 1;
}

.return-to-top:hover {
    background-color: #0056b3;
}

.return-to-top:focus {
    outline: none;
}
.content1 {
    // background-image: url("/mintyclean/images/Images/cover1.jpg");
justify-content: center;
 /* Adjust the path as needed */
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 50px 0; /* Adds vertical padding for spacing */
    min-height: 100vh;/* Minimum height for content to ensure it's large enough */ 
    align-items: center;    /* Centers vertically */
    flex-direction: column; /* Stacks elements vertically */
    display: flex;
}  


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9); /* Optional: Slightly shrink for a smooth pop-in effect */
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Logo styling */
.logo-fade-in {
    max-width:500px; /* Adjust size as needed */
    animation: fadeIn 1.5s ease-in-out; /* Fade in over 1.5 seconds */
    opacity: 1; /* Ensure visibility after the animation */
}